.editor-container {
    width: 35%;
}

.education-editor-container {
    border: 1px solid blue;
}

.education-header {
    text-align: center;
}

.education-button-container {
    display: flex;
    justify-content: space-around;
}

.work-editor-container {
    border: 1px solid purple;
}

.work-header {
    text-align: center;
}

.work-button-container {
    display: flex;
    justify-content: space-around;
}

.skills-editor-container {
    border: 1px solid blue;
}

.skill-header {
    text-align: center;
}

.skills-button-container {
    display: flex;
    justify-content: space-around;
}