.editor-container {
    width: 35%;
}

.education-header {
    text-align: center;
}

.education-button-container {
    display: flex;
    justify-content: space-around;
}

.work-header {
    text-align: center;
}

.work-button-container {
    display: flex;
    justify-content: space-around;
}

.skill-header {
    text-align: center;
}

.skills-button-container {
    display: flex;
    justify-content: space-around;
}