.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.save-button {
    background-color: #1e4a32;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #286343;
}

@media (min-width: 1400px) {
    .header {
        max-width: 60%;
        margin: auto;
    }
}