.work {
    width: 95%;
    margin: auto;
}

.work-section-header {
    margin-bottom: 0;
    margin-top: 20px;
}

.job-title-dates-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.job-title, .job-dates, .company-info {
    font-weight: bold;
}

.job-details-container {
    margin-top: 0;
}

.bullet-point {
    word-wrap: break-word;
}