.work-info {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
    height: 50px;
}

.last-textarea {
    margin-bottom: 30px;
}