* {
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px #d6d3d1;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

input {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

.page-footer {
    margin-top: 10px;
    box-shadow: 2px -2px 0px 0px #d6d3d1;
}

@media (min-width: 1400px) {
    .body  {
        display: flex;
        width: 55%;
        margin: auto;
    }

    .editor-container {
        max-width: 40%;
        min-width: 35%;
    }

    .resume-container {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .editor-container {
        width: 80%;
        margin: auto;
    }

    .resume-container {
        max-width: 900px;
        height: 1150px;
    }
}